@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  background-size:cover;
}

main {
  flex-grow: 1;
}

.bgOpac {
  background-color: rgba(11, 11, 32, 0.25);
}

.text-shadow {
  text-shadow: black 1px 1px 1px;
  
}

.text-big {
  font-size: 80px;
}

.hide{
  opacity: 0;
  transition: all .3s ease;
}

.bgOpac:hover {
  background-color: rgba(11, 11, 32, 0.5);
}


.reveal:hover  .hide{
  opacity: 1!important;
}